NODE_ENV = development
TASKS_APP_PORT = 4000

POSTGRES_ROOT_USERNAME = admin
POSTGRES_ROOT_PASSWORD = pass
POSTGRES_DB_NAME = taskforce
POSTGRES_DB_HOST = localhost
POSTGRES_DB_PORT = 6500

PGADMIN_DB_PORT = 8082
