NODE_ENV = development
FS_APP_PORT = 3333
UPLOAD_DIRECTORY = 'apps/fs/uploads'
SERVE_ROOT = '/static'

FS_MONGO_DB_NAME = taskforce-uploads
FS_MONGO_AUTH_DB = admin

FS_MONGO_USERNAME = fsAdmin
FS_MONGO_PASSWORD = fsPass
FS_MONGO_HOST = localhost
FS_MONGO_PORT = 27018


