API_GATEWAY_ENV = development
API_GATEWAY_PORT = 7007

HTTP_CLIENT_MAX_REDIRECTS = 5
HTTP_CLIENT_TIMEOUT = 5000

USERS_SERVICE_URL = 'http://localhost:3000/api/users'
AUTH_SERVICE_URL = 'http://localhost:3001/api/auth'
FEEDBACKS_SERVICE_URL = 'http://localhost:3002/api/feedbacks'
STATIC_SERVICE_URL = 'http://localhost:3333/files'
CATEGORIES_SERVICE_URL = 'http://localhost:4000/api/categories'
REPLIES_SERVICE_URL = 'http://localhost:4000/api/replies'
TASKS_SERVICE_URL = 'http://localhost:4000/api/tasks'
